<%-include("navbar.ejs")%>




  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="text-warning">Siyaram Hostel<br><span class="text-light">Admition now</span></h1>
      <h2>Friendly and relaxed; hostels make the perfect base for nomads.</h2>
      <a href="/ug" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/hostel1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>benefits of staying in a hostel</h3>
            <p class="fst-italic">
              A hostel is a lower-priced inn of sorts that offers basic, shared accommodations. Typically, a hostel
              features a large room with separate beds, a shared bathroom, and a communal kitchen. Some hostels have
              private rooms, but the lower-cost ones generally offer bunk beds.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Hostels are budget-friendly. ...</li>
              <li><i class="bi bi-check-circle"></i>Hostels often organize events for their guests. ...</li>
              <li><i class="bi bi-check-circle"></i> There are a lot of different types of hostels all over the world.
              </li>
            </ul>
            <p>
              In addition to shared kitchen facilities, some hostels have a restaurant and/or bar. Washing machines and
              clothes dryers are often provided for an additional fee. Hostels sometimes have entryways for storing
              gear. Most hostels offer lockers for safely storing valuables. </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-stretch">
            <div class="content">
              <h3>hostels facilities:</h3>
            
              <p>
                24-hour internet connectivity through a Wi-Fi backbone.
                On campus, laundry services.
                Music clubs, library access and an extensive tuck shop.
                Doctors visit on Campus and tie up with nearby Hospitals for medical support.
                Electricity back up, water heaters and RO water for drinking.
                Common rooms with Television sets, Table Tennis, Snooker, and Indoor Sports.
                Dining-rooms well maintained and hygienic kitchen managed by professional agency offering cuisines
                from all across India along with continental choices.
                On campus cafeteria offering wide range of refreshments, snacks and beverages. .
              </p>
             
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
           
            <table style="border-collapse: collapse; border: medium none;" cellspacing="0" cellpadding="0" border="1">
              <tbody>
                  <tr style="height: 12.3pt;">
                      <td style="width: 47pt; border: 1pt solid windowtext; padding: 0in 5.4pt; height: 12.3pt;">
                      <p style="line-height: 115%;"><strong>Sr.No.</strong></p>
                      </td>
                      <td style="width: 232.9pt; border-style: solid solid solid none; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; padding: 0in 5.4pt; height: 12.3pt;">
                      <p style="line-height: 115%;"><strong>Facilities in Boys’ Hostel No.1, 2 &amp; 3</strong></p>
                      </td>
                      <td style="width: 85.5pt; border-style: solid solid solid none; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; padding: 0in 5.4pt; height: 12.3pt;">
                      <p style="line-height: 115%;"><strong>Number</strong></p>
                      </td>
                  </tr>
                  <tr style="height: 14.6pt;">
                      <td style="width: 47pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">1</p>
                      </td>
                      <td style="width: 232.9pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%; text-align: left;">Toilets</p>
                      </td>
                      <td style="width: 85.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">72</p>
                      </td>
                  </tr>
                  <tr style="height: 14.6pt;">
                      <td style="width: 47pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">2</p>
                      </td>
                      <td style="width: 232.9pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%; text-align: left;">Bathrooms</p>
                      </td>
                      <td style="width: 85.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">72</p>
                      </td>
                  </tr>
                  <tr style="height: 14.6pt;">
                      <td style="width: 47pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">3</p>
                      </td>
                      <td style="width: 232.9pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%; text-align: left;">Mess</p>
                      </td>
                      <td style="width: 85.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">1 + 1 + 1 = 3</p>
                      </td>
                  </tr>
                  <tr style="height: 14.6pt;">
                      <td style="width: 47pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">4</p>
                      </td>
                      <td style="width: 232.9pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%; text-align: left;">Pest-O-Flash kit in Mess</p>
                      </td>
                      <td style="width: 85.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">6</p>
                      </td>
                  </tr>
                  <tr style="height: 14.6pt;">
                      <td style="width: 47pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">5</p>
                      </td>
                      <td style="width: 232.9pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%; text-align: left;">Common Hall</p>
                      </td>
                      <td style="width: 85.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">1 + 1 + 1 = 3<strong></strong></p>
                      </td>
                  </tr>
                  <tr style="height: 14.6pt;">
                      <td style="width: 47pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">6</p>
                      </td>
                      <td style="width: 232.9pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%; text-align: left;">Colour Television set in Common Hall</p>
                      </td>
                      <td style="width: 85.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">3<strong></strong></p>
                      </td>
                  </tr>
                  <tr style="height: 14.6pt;">
                      <td style="width: 47pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">7</p>
                      </td>
                      <td style="width: 232.9pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%; text-align: left;">Water Cooler for drinking water</p>
                      </td>
                      <td style="width: 85.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">25</p>
                      </td>
                  </tr>
                  <tr style="height: 14.6pt;">
                      <td style="width: 47pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">8</p>
                      </td>
                      <td style="width: 232.9pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%; text-align: left;">Solar water Heating system for Hot water</p>
                      </td>
                      <td style="width: 85.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 14.6pt;">
                      <p style="line-height: 115%;">3</p>
                      </td>
                  </tr>
              </tbody>
          </table>
              </div>
           
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->



    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">


          <div class="col-lg-8 col-md-6 d-flex align-items-stretch">
            <div class="member">


              <div class="member-content">
             
                <table style="border-collapse: collapse; border: medium none;" cellspacing="0" cellpadding="0" border="1">
                  <tbody>
                      <tr>
                          <td style="width: 32pt; border: 1pt solid windowtext; padding: 0in 5.4pt;">
                          <p style="text-align: center;"><strong>No</strong></p>
                          </td>
                          
                          <td style="width: 155.05pt; border-style: solid solid solid none; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; padding: 0in 5.4pt;">
                          <p style="text-align: center;"><strong>Particulars</strong></p>
                          </td><td style="width: 121.5pt; border-style: solid solid solid none; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; padding: 0in 5.4pt;">
                          <p style="text-align: center;"><strong>First Term</strong></p>
                          <p style="text-align: center;"><strong>( Rs.)</strong></p>
                          </td>
                          <td style="width: 1.25in; border-style: solid solid solid none; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; padding: 0in 5.4pt;">
                          <p style="text-align: center;"><strong>Second Term</strong></p>
                          <p style="text-align: center;"><strong>( Rs.)</strong></p>
                          </td>
                      </tr>
                      <tr style="height: 0.2in;">
                          <td style="width: 32pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: center;">1.</p>
                          </td>
                          <td style="width: 155.05pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p>Hostel Admission Fee</p>
                          </td>
                          <td style="width: 121.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp; 100/-</p>
                          </td>
                          <td style="width: 1.25in; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">100/-</p>
                          </td>
                      </tr>
                      <tr style="height: 0.2in;">
                          <td style="width: 32pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: center;">2.</p>
                          </td>
                          <td style="width: 155.05pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p>Room Rent</p>
                          </td>
                          <td style="width: 121.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp; 600/-</p>
                          </td>
                          <td style="width: 1.25in; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">600/-</p>
                          </td>
                      </tr>
                      <tr style="height: 0.2in;">
                          <td style="width: 32pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: center;">3.</p>
                          </td>
                          <td style="width: 155.05pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p>Water &amp; Electrical Charges</p>
                          </td>
                          <td style="width: 121.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp; 400/-</p>
                          </td>
                          <td style="width: 1.25in; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">400/-</p>
                          </td>
                      </tr>
                      <tr style="height: 0.2in;">
                          <td style="width: 32pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: center;">4.</p>
                          </td>
                          <td style="width: 155.05pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p>Medical Check-up Charges</p>
                          </td>
                          <td style="width: 121.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">(Once only)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 30/-</p>
                          </td>
                          <td style="width: 1.25in; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">---</p>
                          </td>
                      </tr>
                      <tr style="height: 0.2in;">
                          <td style="width: 32pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: center;">5.</p>
                          </td>
                          <td style="width: 155.05pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p>Maintenance Charges</p>
                          </td>
                          <td style="width: 121.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp; 150/-</p>
                          </td>
                          <td style="width: 1.25in; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">150/-</p>
                          </td>
                      </tr>
                      <tr style="height: 0.2in;">
                          <td style="width: 32pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: center;">6.</p>
                          </td>
                          <td style="width: 155.05pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p>Reading&nbsp; &amp; Recreation Charges</p>
                          </td>
                          <td style="width: 121.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">50/-</p>
                          </td>
                          <td style="width: 1.25in; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">50/-</p>
                          </td>
                      </tr>
                      <tr style="height: 0.2in;">
                          <td style="width: 32pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: center;">7.</p>
                          </td>
                          <td style="width: 155.05pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p>Hostel Deposit</p>
                          </td>
                          <td style="width: 121.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">&nbsp;(Once only)&nbsp;&nbsp;&nbsp; 200/-</p>
                          </td>
                          <td style="width: 1.25in; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">---</p>
                          </td>
                      </tr>
                      <tr style="height: 0.2in;">
                          <td style="width: 32pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: center;">8.</p>
                          </td>
                          <td style="width: 155.05pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p>Mess Deposit</p>
                          </td>
                          <td style="width: 121.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">(Once only)&nbsp;&nbsp;&nbsp; 500/-</p>
                          </td>
                          <td style="width: 1.25in; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">---</p>
                          </td>
                      </tr>
                      <tr style="height: 0.2in;">
                          <td style="width: 32pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: center;">9.</p>
                          </td>
                          <td style="width: 155.05pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p>Hostel Funds (Non refundable)</p>
                          </td>
                          <td style="width: 121.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">100/-</p>
                          </td>
                          <td style="width: 1.25in; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">---</p>
                          </td>
                      </tr>
                      <tr style="height: 0.2in;">
                          <td style="width: 32pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: center;">10.</p>
                          </td>
                          <td style="width: 155.05pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p>Hostel Identity Card</p>
                          </td>
                          <td style="width: 121.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">(Once only)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 05/- </p>
                          </td>
                          <td style="width: 1.25in; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.2in;">
                          <p style="text-align: right;">---</p>
                          </td>
                      </tr>
                      <tr style="height: 0.25in;">
                          <td style="width: 187.05pt; border-style: none solid solid; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.25in;" colspan="2">
                          <p style="text-align: right;"><strong>Total</strong></p>
                          </td>
                          <td style="width: 121.5pt; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.25in;">
                          <p style="text-align: right;"><strong>2135/-</strong></p>
                          </td>
                          <td style="width: 1.25in; border-style: none solid solid none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.25in;">
                          <p style="text-align: right;"><strong>1300/-</strong></p>
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">

              <img src="uploads/<%= rector.rector_img%>" class="img-fluid" alt="">
              <div class="member-content">
                <h2 class="text-warning"><b>Dr.<%= rector.rector_name%></b></h2>
                <span><b>Hostel Rector</b></span>
                <p>
                  <%= rector.rector_info%>
                </p>

              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

  <%-include("footer.ejs")%>